body{
    margin: 0px;
    padding: 0px;
}

/* stile header */

#nav{
    background-image: url(/image/pattern.png);
    background-color: lightskyblue;
    background-size: cover;
    /* background-size: auto; */
    /* background-position: top; */
    background-size: 40%;
    padding-top: 50px;
}

#logo{
    width: 18%;
    margin-left: 5px;
}

#hero{
    margin-left: 5px;
    /* margin-top: 0px; */
}

.title{
    font-size: x-large;
}

.title h1{
    margin-bottom: 0px;
}

.sub-title p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: gray;
}

.sub-title a{
    color: rgb(42, 106, 165);
    text-decoration: none;
}

#data{
    font-size: 12px;
    margin-top: 0px;
}

#image{
    margin-top: 20px;
}

#didasc{
    margin-top: 0;
    font-size: 12px;
}

/* stili main */





