body {
    margin: 0px;
    padding: 0px;
}

* {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* stile header */
#nav {
    background-image: url(/image/pattern.png);
    background-color: lightskyblue;
    background-size: cover;
    /* background-size: auto; */
    /* background-position: top; */
    background-size: 40%;
    padding-top: 50px;
}

#logo {
    width: 18%;
}

.shift-left {
    margin-left: 90px;
    /* margin-top: 0px; */
}

.shift-right {
    margin-right: 90px;
}

.title {
    font-size: x-large;
}

.title h1 {
    margin-bottom: 0px;
}

.no-marg-b {
    margin-bottom: 0px;
}

.no-marg-t {
    margin-top: 0px;
}

.gray {
    color: gray;
}

.sub-title a {
    color: rgb(42, 106, 165);
    text-decoration: none;
}

#data {
    font-size: 12px;
    margin-top: 0px;
}

#image {
    margin-top: 20px;
}

#didasc {
    margin-top: 0;
    font-size: 12px;
}

/* stili main */
.marked {
    background-color: yellow;
}

table {
    font-size: 13px;
    text-align: left;
    margin: 0px;
    border-collapse: collapse;

}


td {
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}


thead {
    background-color: rgb(25, 64, 238);
    color: white;
    /* line-height: 0px; */
}

.sorgente tr:nth-child(even) {
    background-color: white;
}

.sorgente tr:nth-child(odd) {
    background-color: aquamarine;

}

/* stili footer */
.foot-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: 150px;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    color: whitesmoke;
}

.img1 {
    background-image: url(/image/monitor.jpg);
}

.img2 {
    background-image: url(/image/graph.jpg);
}

footer div h4 {
    margin-top: 0px;
}